include "./cfg/animation.kdl"

gestures {
    hot-corners {
        off
    }
}

window-rule {
    match app-id="firefox"
    open-on-workspace "1"
}
window-rule {
    match app-id="code"
    open-on-workspace "2"
}
window-rule {
    match app-id="vesktop"
    match app-id="Spotify"
    open-on-workspace "3"
}
window-rule {
    match app-id="kitty"
    match app-id="org.gnome.Nautilus"
    open-on-workspace "4"
}
window-rule {
    match app-id="steam"
    open-on-workspace "5"
}

workspace "1" {
    layout {
        gaps 40

        struts {
            left 64
            right 64
            top 0
            bottom 0
        }

        default-column-width { proportion 1.0; }
    }
}

workspace "2" {
    layout {
        gaps 40

        struts {
            left 64
            right 64
            top 0
            bottom 0
        }

        default-column-width { proportion 1.0; }
    }
}
workspace "3" {
    layout {
        gaps 40

        struts {
            left 64
            right 64
            top 0
            bottom 0
        }

        default-column-width { proportion 1.0; }
    }
}

workspace "4" {
    layout {
        gaps 40

        struts {
            left 64
            right 64
            top 0
            bottom 0
        }

        default-column-width { proportion 0.5; }
    }
}

workspace "5" {
    layout {
        gaps 100

        struts {
            left 128
            right 128
        }

        default-column-width { proportion 1.0; }
    }
}

include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
